/*La parte del CSS Del formulario*/
.my-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}
.my-form {
  margin-top: 60px; /* Ajusta el valor según la separación que desees */
}
.my-form .btn {
  margin-top: 30px;
}


/*La parte del CSS DEL foortes*/
.footer {
  background-color: #756a6c;
  padding: 20px 0;
  text-align: center;
  color: #FFF;
}

.social-icons {
margin-top: 10px;
}
.social-icons a {
color: #0ed1f3;
margin: 0 5px;
font-size: 20px;
}
